<% provide(:title, "Home") %>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="wrappercontent">
      <h1>Sample App</h1>
      <p>
        This is the home page for the <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
        sample application.
        <%= render 'layouts/mediaads' %>
      </p>
      <p>
          <%= image_tag("nm.jpg", alt: "Kitten") %> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt elementum mollis. Proin velit sem, rhoncus at lectus id, dapibus vehicula nibh. Suspendisse id neque ac nulla sodales vehicula sed eu leo. Aenean facilisis dolor magna, et finibus justo tristique eu. Aliquam vel nisl viverra, commodo felis sit amet, lobortis magna. Fusce fringilla, turpis eu rutrum pellentesque, risus ante lobortis enim, quis porttitor tortor justo et nunc. Curabitur eget gravida quam, et porttitor felis. Nunc enim augue, mattis at dignissim sit amet, ullamcorper tempor dolor. Nunc mattis tellus tincidunt, auctor felis non, placerat ex. Donec in erat fringilla, ullamcorper ipsum quis, aliquam augue. Nulla finibus convallis justo pretium porta. Integer in malesuada justo, commodo lacinia nibh. Quisque a enim sed orci fermentum ultrices a volutpat sapien. In hac habitasse platea dictumst.
      </p>
      <p>
          <%= image_tag("nm.jpg", alt: "Kitten") %> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt elementum mollis. Proin velit sem, rhoncus at lectus id, dapibus vehicula nibh. Suspendisse id neque ac nulla sodales vehicula sed eu leo. Aenean facilisis dolor magna, et finibus justo tristique eu. Aliquam vel nisl viverra, commodo felis sit amet, lobortis magna. Fusce fringilla, turpis eu rutrum pellentesque, risus ante lobortis enim, quis porttitor tortor justo et nunc. Curabitur eget gravida quam, et porttitor felis. Nunc enim augue, mattis at dignissim sit amet, ullamcorper tempor dolor. Nunc mattis tellus tincidunt, auctor felis non, placerat ex. Donec in erat fringilla, ullamcorper ipsum quis, aliquam augue. Nulla finibus convallis justo pretium porta. Integer in malesuada justo, commodo lacinia nibh. Quisque a enim sed orci fermentum ultrices a volutpat sapien. In hac habitasse platea dictumst.
      </p>
      <p>
          <%= image_tag("nm.jpg", alt: "Kitten") %> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt elementum mollis. Proin velit sem, rhoncus at lectus id, dapibus vehicula nibh. Suspendisse id neque ac nulla sodales vehicula sed eu leo. Aenean facilisis dolor magna, et finibus justo tristique eu. Aliquam vel nisl viverra, commodo felis sit amet, lobortis magna. Fusce fringilla, turpis eu rutrum pellentesque, risus ante lobortis enim, quis porttitor tortor justo et nunc. Curabitur eget gravida quam, et porttitor felis. Nunc enim augue, mattis at dignissim sit amet, ullamcorper tempor dolor. Nunc mattis tellus tincidunt, auctor felis non, placerat ex. Donec in erat fringilla, ullamcorper ipsum quis, aliquam augue. Nulla finibus convallis justo pretium porta. Integer in malesuada justo, commodo lacinia nibh. Quisque a enim sed orci fermentum ultrices a volutpat sapien. In hac habitasse platea dictumst.
      </p>
      <p>
          <%= image_tag("nm.jpg", alt: "Kitten") %> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt elementum mollis. Proin velit sem, rhoncus at lectus id, dapibus vehicula nibh. Suspendisse id neque ac nulla sodales vehicula sed eu leo. Aenean facilisis dolor magna, et finibus justo tristique eu. Aliquam vel nisl viverra, commodo felis sit amet, lobortis magna. Fusce fringilla, turpis eu rutrum pellentesque, risus ante lobortis enim, quis porttitor tortor justo et nunc. Curabitur eget gravida quam, et porttitor felis. Nunc enim augue, mattis at dignissim sit amet, ullamcorper tempor dolor. Nunc mattis tellus tincidunt, auctor felis non, placerat ex. Donec in erat fringilla, ullamcorper ipsum quis, aliquam augue. Nulla finibus convallis justo pretium porta. Integer in malesuada justo, commodo lacinia nibh. Quisque a enim sed orci fermentum ultrices a volutpat sapien. In hac habitasse platea dictumst.
      </p>
      <p>
          <%= image_tag("nm.jpg", alt: "Kitten") %> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt elementum mollis. Proin velit sem, rhoncus at lectus id, dapibus vehicula nibh. Suspendisse id neque ac nulla sodales vehicula sed eu leo. Aenean facilisis dolor magna, et finibus justo tristique eu. Aliquam vel nisl viverra, commodo felis sit amet, lobortis magna. Fusce fringilla, turpis eu rutrum pellentesque, risus ante lobortis enim, quis porttitor tortor justo et nunc. Curabitur eget gravida quam, et porttitor felis. Nunc enim augue, mattis at dignissim sit amet, ullamcorper tempor dolor. Nunc mattis tellus tincidunt, auctor felis non, placerat ex. Donec in erat fringilla, ullamcorper ipsum quis, aliquam augue. Nulla finibus convallis justo pretium porta. Integer in malesuada justo, commodo lacinia nibh. Quisque a enim sed orci fermentum ultrices a volutpat sapien. In hac habitasse platea dictumst.
      </p>
    </div>

  </body>
</html>
